/* 
========projects=============== */

#project-section {
  margin-bottom: 4vh;
}

#project-card {
  width: 94vw;
  border: 1px solid #3e3c3a81;
  margin-left: 3vw;
  display: flex;
  gap: 4vw;
  border-radius: 18px;
  text-decoration: none;
  margin-bottom: 3vh;
}

.project-image {
  width: 35vw;
  padding: 2vh 3vw;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  width: 100%;
}

.project-data {
  width: 54vw;
  padding: 2vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-data h3 {
  color: #0a3d62;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3.2vh;
  letter-spacing: 2px;
  font-weight: 600;
}

.project-data p {
  font-size: 14px;
  font-family: "Inika", serif;
  overflow: hidden;
  display: -webkit-box;
  color: #222;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

#card-spans {
  font-family: "Inika", serif;
  display: flex;
  align-items: center;
  gap: 4vw;
}


#button {
  text-align: center;
  padding: 0.7vh 3vw;
  color: #0a3d62;
  font-size: 1.8vh;
  letter-spacing: 1px;
  font-family: "Inika", serif;
  border-radius: 7px;
  border: 1px solid #0a3d62;
}

#status {
  letter-spacing: 1px;
  font-size: 1.8vh;
  padding: 0.7vh 3vw;
   background: linear-gradient(135deg, #34d399, #059669);
  color: #fff;
  border-radius: 14px;
  font-family: "Inika", serif;
}

/* Tablet */
@media (min-width: 768px)  {
  .project-image {
    padding: 2.5vh 4vw;
  }
  .project-data {
    padding: 2.5vh 4vw;
  }
  .project-data h3 {
    font-size: 4.5vh;
  }
  .project-data p {
    font-size: 3vw;
    width: 90%;
    line-clamp: 10;
    -webkit-line-clamp: 10;
  }
  #card-spans {
    gap: 6vw;
  }
  #button {
  padding: 1vh 3vw;
  font-size: 2vh;
 }
 #status{
  padding: 1vh 3vw;
  font-size: 2vh;
 }
}

/* Laptop / Desktop */
@media (min-width: 1024px) {
  
  #projects-list{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:3vw;
  width:92vw;
  margin-left:3vw;
}

#project-card{
  width:100%;
  margin:0;
  gap: 2vw;
}

.project-image{
  width:50%;
  padding: 2vh 2vw;
}

.project-data{
  width:90%;
  padding: 2vh 2vw;
}

.project-data h3{
  font-size: 6vh;
}
.project-data p{
  font-size: 26px;
  line-clamp:8;
  -webkit-line-clamp: 8;
}
#status {
   font-size: 2.5vh;
}
#project-section {
  margin-bottom: 12vh;
}
  
}

/* =============contact=============== */

#contact-section {
  background: linear-gradient(to bottom, #fafafa 0%, #f1f1f1 35%, #e6e6e6 100%);
  padding-top: 3vh;
}

.contact-title {
  width: 90vw;
  display: flex;
  padding-bottom: 2vh;
  margin-left: 5vw;
  margin-bottom: 2vh;
  border-bottom: 1px solid #3e3c3a81;
}

.contact-title h2 {
  margin-right: auto;
  font-family: "Oswald", sans-serif;
  color: #646d52;
  font-size: 4vh;
  letter-spacing: 3px;
  font-weight: 800;
}

.footer-icon {
  width:32px;
  height:32px;
  color: #646d52;
}

 .f-insta{
  width:36px;
  height:36px;
}

.contact-item {
  display: block;
  text-decoration: none;
  color: inherit;
}

.contact-item-flex {
  display: flex;
  align-items: center;
  gap: 5vw;
  margin-left: 10vw;
  margin-bottom: 2vh;
  padding: 1vh 0;
  transition: 0.2s ease;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.contact-label {
  margin-top: 4px;
  font-size: 1rem;
  color: #333;
  font-family: "Inter", sans-serif;
}

.contact-right {
  font-family: "Inter", sans-serif;
}

.contact-value {
  font-size: 1rem;
  color: #222;
}

.copyright-bar {
  width: 100%;
  background-color: #646d52;
  color: #ffffff;
  text-align: center;
  padding: 0.9rem 0;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}

.copyright-bar small {
  opacity: 0.95;
}

/* Tablet */
@media (min-width: 768px)  {
  .contact-icon {
    font-size: 2.7rem;
  }
  .contact-label {
    font-size: 1.3rem;
    margin-top: 8px;
  }
  .contact-value {
    font-size: 1.5rem;
  }
  .contact-item-flex {
    gap: 7vw;
  }
  .copyright-bar {
    font-size: 1.5rem;
  }
  .footer-icon {
  width:338px;
  height:38px;
  color: #646d52;
}

 .f-insta{
  width:42px;
  height:42px;
}

}

/* Laptop / Desktop */
@media (min-width: 1024px) {
  .contact-icon {
    font-size: 2.7rem;
  }
  .contact-label {
    font-size: 1.3rem;
    margin-top: 8px;
  }
  .contact-value {
    font-size: 1.5rem;
  }
  .contact-item-flex {
    gap: 7vw;
  }
  .copyright-bar {
    font-size: 1.5rem;
  }
  .contact-title h2{
    font-size: 6vh;
  }
}



